label
    display inline-block
    width 100px
    margin 10px 0
    color #607d8b
    font-weight bold
input
    height 30px
    font-size 14px
    padding-left 10px
button
    margin-top 20px
    font-family Arial
    background-color #aaa
    border none
    padding 5px 10px
    border-radius 4px
    cursor pointer
    &:hover
        background-color #cfd8dc
    &:disabled
        background-color #eee
        color #ccc
        cursor auto