h1
    font-size 24px
    color #999
    margin-bottom 0
h2
    font-size 18px
    margin-top 0
    padding-top 0
nav a
    padding 5px 10px
    text-decoration none
    margin-top 10px
    display inline-block
    background-color #eee
    border-radius 4px
    &:visited
        color #607d8b
    &:hover
        color #039be5
a:link
    color #607d8b
nav a.active
    color #039be5    